.journal-output {
    margin-top: 20px;
}

.journal-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 15%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.journal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h3 {
    text-align: center;
}